{% extends 'base_sign.html' %}
<html>

<head>
  <title>
    {% block mytitle %}Sign In{% endblock %}
  </title>
</head>

<body>

  {% load widget_tweaks %}
  <p>
    <h2>  {% block heading %}Sign In Here{% endblock %}</h2>
  </p>
  {% block myform %}
  <form method="post">
    {% csrf_token %}
    <br>
    <h3>Username* &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.username }}</h3>
    <h3>Password*:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.username }}</h3>
    <br>
    <a href="#">
      <font color="orange"><u>
        <h4>Forgot Password?</h4></u></font>
    </a>
    <br>
    <center>
      <input type="submit" class="btn btn-success btn-lg" value="Sign In">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="btn btn-primary btn-lg" type="reset" value="Reset">
    </center>
  </form>
  {% endblock %}

</body>

</html>
