{% extends 'base_sign.html' %}
<html>

<head>
  <title>
    {% block mytitle %}Sign Up{% endblock %}
  </title>
</head>

<body>

  {% load widget_tweaks %}
  <p>
    <h2>  {% block heading %}Sign Up Here{% endblock %}</h2>
  </p>
  {% block myform %}
  <form method="post">

    {% csrf_token %} {% for field in form %}
    <br>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{ field.label_tag }}

    {% if form.is_bound %}
      {% if field.errors %}
        {% render_field field class="is-invalid" %}
        {% for error in field.errors %}
          <div class="invalid-feedback">
          {{ error }}
          </div>
        {% endfor %}
      {% else %}
      {% render_field field class="is-valid" %}
      {% endif %}
    {% else %}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% render_field field %}
    {% endif %}
{% endfor %}
    {% if field.help_text %}
      <small class="form-text text-muted">
        {{ field.help_text|safe }}
      </small>
    {% endif %}
    </h3>

    <center>
      <input type="submit" class="btn btn-success btn-lg" value="Sign Up" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="btn btn-primary btn-lg" type="reset" value="Reset" />
    </center>
  </form>
  {% endblock %}

</body>

</html>
