{% load widget_tweaks %}
{% block content %}
<form method="get">
    <div class="well">
        <h4 style="margin-top: 0">Filter</h4>
        <div class="row">

            <div class="form-group col-sm-8 col-md-6">



                    {{ filter.form.as_p }}

            </div>
        </div>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
    </div>
</form>


{% if sensor_data_list %}


<ul>
    {% for sensor_data in sensor_data_list %}
    <li><b>{{ sensor_data.sensor_data_dateTime }}</b>: status: {{ sensor_data.sensor_data_value }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}