{% extends 'base.html' %}
<html>

<head>
    {% block title %}
    <title>Dashboard</title>
    {% endblock %}
</head>

<style>


    .axis path {
        fill: none;
        stroke: #777;
        shape-rendering: auto;
    }

    .axis text {
        font-family: Lato;
        font-size: 13px;
    }

    .legend {
        font-size: 16px;
        font-weight: bold;
        text-anchor: start;
        position: relative;
    }

    circle {
        fill: white;
        stroke: #ed1e79;
        stroke-width: 3;
    }

    .x.axis path {
        display: none;
    }

    .d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        color: rgba(0, 0, 0, 0.8);
        content: "\25BC";
        position: absolute;
        text-align: center;
    }

    /* Style northward tooltips differently */
    .d3-tip.n:after {
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;

    }

    text {
        font: 50px sans-serif;
    }


</style>


<body>
<!--<script>-->
<!--function submitForm()-->
<!--{-->
<!--// $('#searchForm')[0].submit();-->
<!--console.log("test");-->
<!--document.myForm.submit();-->
<!--}-->

<!--</script>-->
<br>
{% if user.is_authenticated %}
<h2>Welcome, {{ user.username }}</h2>
{% endif %}
{% block content %}
<div id='dashboard'>


    <div id='bubble_chart' >
        <div id="bubble_svg" width="300" height="300"></div>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
        <script>


           var root = {
                "name": "flare",
                "children": [
                    {
                        "name": "2015",
                        "children": [
                            {"name": "2015 sensor", "size": 800000}
                        ]
                    },
                    {
                        "name": "2016",
                        "children": [
                            {"name": "2016", "size": 500000},
                        ]
                    },
                    {
                        "name": "2017",
                        "children": [
                            {"name": "2017", "size": 1000000},
                        ]
                    },
                    {
                        "name": "2018",
                        "children": [
                            {"name": "2018", "size": 50000},
                        ]
                    }
                ]

            };

            var diameter = 960,
                format = d3.format(",d"),
                color = d3.scale.category10();

            var bubble = d3.layout.pack()
                .sort(null)
                .size([diameter, diameter])
                .padding(1.5);

            var svg = d3.select("#bubble_svg").append("svg")
                .attr("viewBox", "0 0 960 960")
                .attr("perserveAspectRatio", "xMinYMid")
                .attr("width", diameter)
                .attr("height", diameter)
                .attr("class", "bubble");
            svg.append("text")
        .attr("x", (diameter / 2))
        .attr("y", diameter)
        .attr("text-anchor", "middle")
        .style("font-size", "16px")
        .style("text-decoration", "underline")
        .text("Sensor Data Rows")
            .style("font", "50px sans-serif");

            //d3.json("flare.json", function(error, root) {
            var node = svg.selectAll(".node")
                .data(bubble.nodes(classes(root))
                    .filter(function (d) {
                        return !d.children;
                    }))
                .enter().append("g")
                .attr("class", "node")
                .attr("transform", function (d) {
                    return "translate(" + d.x + "," + d.y + ")";
                });

            node.append("title")
                .text(function (d) {
                    return d.className + ": " + format(d.value);
                });



            node.append("circle")
                .attr("r", function (d) {
                    return d.r;
                })
                .style("fill", function (d) {
                    return color(d.packageName);
                });

            node.append("text")
                .attr("dy", ".3em")
                .style("text-anchor", "middle")
                .style("font", "50px sans-serif")
                .text(function (d) {
                    return d.className.substring(0, d.r / 3);
                });
            //});

            // Returns a flattened hierarchy containing all leaf nodes under the root.
            function classes(root) {
                var classes = [];

                function recurse(name, node) {
                    if (node.children) node.children.forEach(function (child) {
                        recurse(node.name, child);
                    });
                    else classes.push({packageName: name, className: node.name, value: node.size});
                }

                recurse(null, root);
                return {children: classes};
            }

            //d3.select(self.frameElement).style("height", diameter + "px");

            var chart = $(".bubble"),
                aspect = chart.width() / chart.height(),
                container = chart.parent();
            console.log('chart');
            console.log(chart);
            $(window).on("resize", function () {
                var targetWidth = container.width();
                console.log ('targetWidth ' + targetWidth);
                chart.attr("width", 500);
                chart.attr("height", 500);
            }).trigger("resize");
        </script>
    </div>
      <div id='bubble_chart1'>
        <svg id="bubble_svg1" width="500" height="500"></svg>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script>

var root = {
                "name": "flare",
                "children": [
                    {
                        "name": "Station",
                        "children": [
                            {"name": "station", "size": 10}
                        ]
                    },
                    {
                        "name": "Sensor type",
                        "children": [
                            {"name": "sensor type", "size": 6},
                        ]
                    },
                    {
                        "name": "Sensor",
                        "children": [
                            {"name": "sensor", "size": 24},
                        ]
                    },
                    {
                        "name": "Avg",
                        "children": [
                            {"name": "average sensor", "size": 5},
                        ]
                    },
                     {
                        "name": "User",
                        "children": [
                            {"name": "user", "size": 20},
                        ]
                    }
                ]

            };


            var diameter = 960,
                format = d3.format(",d"),
                color = d3.scale.category10();

            var bubble = d3.layout.pack()
                .sort(null)
                .size([diameter, diameter])
                .padding(1.5);

            var svg = d3.select("#bubble_svg1").append("svg")
                .attr("viewBox", "0 0 960 960")
                .attr("perserveAspectRatio", "xMinYMid")
                .attr("width", diameter)
                .attr("height", diameter)
                .attr("class", "bubble");

            //d3.json("flare.json", function(error, root) {
            var node = svg.selectAll(".node")
                .data(bubble.nodes(classes(root))
                    .filter(function (d) {
                        return !d.children;
                    }))
                .enter().append("g")
                .attr("class", "node")
                .attr("transform", function (d) {
                    return "translate(" + d.x + "," + d.y + ")";
                });

            node.append("title")
                .text(function (d) {
                    return d.className + ": " + format(d.value);
                });

            node.append("circle")
                .attr("r", function (d) {
                    return d.r;
                })
                .style("fill", function (d) {
                    return color(d.packageName);
                });

            node.append("text")
                .attr("dy", ".3em")
                .style("text-anchor", "middle")
                .text(function (d) {
                    return d.className.substring(0, d.r / 3);
                });
            //});

            // Returns a flattened hierarchy containing all leaf nodes under the root.
            function classes(root) {
                var classes = [];

                function recurse(name, node) {
                    if (node.children) node.children.forEach(function (child) {
                        recurse(node.name, child);
                    });
                    else classes.push({packageName: name, className: node.name, value: node.size});
                }

                recurse(null, root);
                return {children: classes};
            }

            //d3.select(self.frameElement).style("height", diameter + "px");

            var chart = $(".bubble"),
                aspect = chart.width() / chart.height(),
                container = chart.parent();
            $(window).on("resize", function () {
                var targetWidth = container.width();
                chart.attr("width", 500);
                chart.attr("height", 500);
            }).trigger("resize");
        </script>
    </div>
    <div id='chart'>
        <form id="searchForm" name="myForm" method="get">
            <div class="well">
                <h3 style="margin-top: 0">Filter</h3>
                <div class="row">

                    <div class="form-group col-sm-8 col-md-6">
                        {%for field in filter.form%}
                        <h4>
                            {{ field.label_tag }}
                            {{ field }}
                        </h4>

                        {% endfor %}


                    </div>
                </div>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
                <script type="text/javascript">

                </script>
            </div>
        </form>
        <svg id="visualisation" width="1050" height="600"></svg>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.16/moment-timezone.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.16/moment-timezone-with-data.min.js"></script>
        <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
        <script>
            function buildDataObject() {
                var data = [];
                {%for sensor_data in sensor_data_list %}
                var dataObject = {};
                dataObject.sensorId = {{sensor_data.sensor.id}};
                dataObject.value = {{sensor_data.sensor_data_value}};
                dataObject.datetime = "{{sensor_data.sensor_data_dateTime.isoformat|safe|escapejs}}";
                dataObject.station = "{{sensor_data.sensor.station.station_short_name|escapejs}}";
                dataObject.sensor_type = "{{sensor_data.sensor.sensor_type.sensor_type_name|escapejs}}";
                data.push(dataObject);

                {%endfor %}
                return data;
            }
            var unit;
           {%for sensor_data in sensor_data_list|slice:":1" %}
           unit = "{{sensor_data.sensor.sensor_type.unit|escapejs}}";
            {% endfor %}
            console.log(unit);

            function initChart() {
                var timeFormat = d3.time.format.iso;
                var jsonData = buildDataObject();
                jsonData.forEach(function (d) {
                    d.datetime = timeFormat.parse(d.datetime);
                });
                console.log(jsonData);
                var dataGroup = d3.nest()
                    .key(function (d) {
                        console.log(d.sensorId);
                        return d.sensorId;
                    })
                    .entries(jsonData);
                console.log(dataGroup);

                var color = d3.scale.category10();

                var vis = d3.select("#visualisation"),
                    WIDTH = 1000,
                    HEIGHT = 500,
                    MARGINS = {
                        top: 20,
                        right: 20,
                        bottom: 20,
                        left: 50
                    },

                    lSpace = WIDTH / dataGroup.length;

                timezoneOffset = new Date().getTimezoneOffset();
                console.log('my tz' + timezoneOffset);

                xScale = d3.time.scale().range([MARGINS.left, WIDTH - MARGINS.right]).domain(d3.extent(jsonData, function (d) {
                    return d.datetime;
                })),
                    yScale = d3.scale.linear().range([HEIGHT - MARGINS.top, MARGINS.bottom]).domain([d3.min(jsonData, function (d) {
                        return d.value;
                    }), d3.max(jsonData, function (d) {
                        return d.value;
                    })]),
                    xAxis = d3.svg.axis()
                        .scale(xScale).orient("bottom").ticks(10).tickFormat(function (d) {


                            return moment(d).utcOffset(timezoneOffset).format('HH:mm:ss');
                        }),
                    yAxis = d3.svg.axis()
                        .scale(yScale)
                        .orient("left");

                vis.append("svg:g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + (HEIGHT - MARGINS.bottom) + ")")

                    .call(xAxis);
                vis.append("svg:g")
                    .attr("class", "y axis")
                    .attr("transform", "translate(" + (MARGINS.left) + ",0)")
                    .call(yAxis).append("text")
                      .attr("transform", "rotate(-90)")
                      .attr("y", 6)
                      .attr("dy", ".71em")
                      .style("text-anchor", "end")
                      .text(unit);

                var lineGen = d3.svg.line()
                    .x(function (d) {
                        console.log(xScale(d.datetime));
                        return xScale(d.datetime);
                    })
                    .y(function (d) {
                        return yScale(d.value);
                    })
                    .interpolate("linear");
                var color = d3.scale.category10();
                legendSpace = WIDTH / dataGroup.length;

                dataGroup.forEach(function (d, i) {
                    vis.append('svg:path')
                        .attr('d', lineGen(d.values))
                        .style("stroke", function () {
                            return d.color = color(d.key);
                        })
                        .attr('stroke-width', 2)
                        .attr('fill', 'none');



                    vis.append("text")
                        .attr("x", (lSpace / 2) + i * lSpace)
                        .attr("y", HEIGHT + 50)
                        .style("fill", function () { // dynamic colours    // *******
                            return d.color = color(d.key);
                        })
                        .style("text-anchor", "middle")
                        .attr("class", "legend")
                        .on("click", function () {                     // ************
                            // Determine if current line is visible
                            var active = d.active ? false : true,
                                newOpacity = active ? 0 : 1;
                            console.log('legend active: ' + active);// ************
                            // Hide or show the elements based on the ID
                            d3.select("#line" + d.key.replace(/\s+/g, '')) // *********
                                .transition()
                                .style("opacity", active);       // ************
                            // Update whether or not the elements are active
                            d.active = active;                       // ************
                        })                                       // ************
                        .text(d.values[0].station);


                });
                var div = d3.select('#visualisation').append("g") // declare the properties for the div used for the tooltips
                  .attr("class", "tooltip")
                // apply the 'tooltip' class
                  .style("opacity", 1);

                  var tip = d3.tip()
                  .attr('class', 'd3-tip')
                  .offset([-10, 0])
                  .html(function(d) {
                    return "<strong>Datetime:</strong> <span style='color:red'>" + moment(d.datetime).utcOffset(timezoneOffset).format('YYYY-MM-DD HH:mm:ss') + "</span>" +
                        "</br><strong>Value:</strong> <span style='color:red'>" + d.value + "</span>"
                        +"</br><strong>Station:</strong> <span style='color:red'>" + d.station + "</span>";
                  });
                  vis.call(tip);

                vis.selectAll("g.dot")
                    .data(dataGroup)
                    .enter().append("g")
                    .attr("class", "dot")
                    .selectAll("circle")
                    .data(function (d) {
                        return d.values;
                    })
                    .enter().append("circle")
                    .attr("r", 5)
                    .attr("cx", function (d, i) {
                        return xScale(d.datetime);
                    })
                    .attr("cy", function (d, i) {
                        return yScale(d.value);
                    })
                    .style("fill", "white")
                    .style("stroke", "#ed1e79")
                    .on('mouseover', tip.show)
                    .on('mouseout', tip.hide);


            }
            initChart();

        </script>
    </div>
    <!--{% for key,value in request.GET.items %}-->
    <!--{{key}} {{value}}-->
    <!--{% endfor %}-->

    <div id='table'>


        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Sensor Id</th>
                <th>Station</th>
                <th>Sensor Type</th>
                <th>DateTime</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            {% if request.GET|length > 0 %}
                {% for sensor_data in sensor_data_list %}
                <tr>
                    <td>{{sensor_data.sensor.id}}</td>
                    <td>{{sensor_data.sensor.station.station_name}}</td>
                    <td>{{sensor_data.sensor.sensor_type.sensor_type_name}}</td>
                    <td>{{sensor_data.sensor_data_dateTime}}</td>
                    <td>{{ sensor_data.sensor_data_value }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No data</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">No data</td>
                </tr>
            {% endif %}

            </tbody>
        </table>
    </div>


    {% if request.GET|length > 0 and is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">previous</a>
        {% endif %}

        <span class="current">Page {{ page_obj.number }} of {{ paginator.num_pages }}</span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">next</a>
        {% endif %}
    </ul>
    {% endif %}

</div>

<br>
{% endblock %}
</body>

</html>
