{% extends 'base_sign.html' %}
<html>

<head>
  {% block heading %}
  <title>Project Details</title>
</head>
{% endblock %}

<body>
  {% block myform %}
  <br>
  <h1>Project Details:</h1>
  <br>
  <h2>Environmental Sensor Station Simulation and Analysis </h2>
  <br>
  <h4>The central idea of this project is to simulate Water Watch stations in California, U.S. which keeps track of the Physical and Inorganic
  measurements of water in specified location.</h4>
  <br>
  <h4> Features: Implementation of various APIs, Dashboard, Map-based Web application for users,
  Data retrieved from REST web services provided by USGS.</h4>

  </h4>
  <br> {% endblock %}
</body>

</html>
